.groupo-nav{
    display: flex;
    flex-direction: column;
    position:fixed;
    width: 30%;
    height: 100%;
     border-right: solid 3px black;
}

.userProfil{
    padding: 25%;
    border-bottom: solid 3px black;
    
}

.userUsername{
    margin-top: 15%;
    padding-left: 25%;
    font-family: "Monaco", "Courier New", monospace;
    font-weight: bold;
    font-size: 25px;
}

    
.newPost, .modify-user{
    margin-top: 20%;
    padding-left: 5%;
    
}



